<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/master-legal.css" media="screen" charset="utf-8">
    <title>CGU | Abibao</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="./assets/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ ua_code }}', 'auto');
      ga('send', 'pageview');

    </script>
    <section id="jumbotron" class="nobg">
      <header>
        <div id="header-blue-border">
        </div>
        <div id="header-wrapper">
          <div class="container">
            <img id="logo" src="assets/img/abibao_logo.png" srcset="assets/img/abibao_logo@2x.png 2x, assets/img/abibao_logo@3x.png 3x" alt="Abibao" />
            <nav>
              <ul>
                <!-- <li><a href="#">Qui sommes-nous ?</a></li> -->
                <li><a href="./index.html">Accueil</a></li>
                <li id="signin" ><a href="{{ dashboard_url }}/register" id="cta_header">S'inscrire</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </section>

    <section id="abibao-message">
      <div class="container">
        <h2>Conditions Générales d'Utilisation d'Abibao</h2>
        <p style="border: 1px dashed lightgrey; padding: 25px 15px 25px 15px;">Voici le contrat de confiance que vous acceptez de passer avec nous en vous inscrivant sur Abibao. Si vous avez des questions, ne les laissez pas sans réponse, contactez-nous.<br/>Bonne lecture !</p>
      </div>
    </section>

    <section id="main">
      <div class="container legal">
        <div id="Q1">
          <h3>1. Objet</h3>
          <p>Les Conditions Générales d'Utilisation des services décrivent les prestations disponibles sur l’ensemble du Site Internet «www.abibao.com» édité par la société ABIBAO SAS et tout Service Internet de communication au public en ligne qui en dépend, ainsi que les droits et obligations de ses utilisateurs  respectifs.</p>
          <p>Sauf disposition expresse contraire, toute nouvelle caractéristique qui améliore ou augmente un ou plusieurs services existants ou tout nouveau service lancé par la société ABIBAO SAS seront soumis aux présentes Conditions.</p>
          <p>Des conditions Particulières à certains services peuvent compléter les présentes Conditions Générales. Elles sont alors précisées lors de la présentation du produit ou du service.</p>
          <p>Le formulaire d’inscription affiché en ligne fait partie intégrante des présentes dispositions.</p>
        </div>
        <div id="Q2">
          <h3>2. Utilisation</h3>
          <p>Est dénommé "UTILISATEUR", toute personne physique ou morale qui accède ou visualise le Site ABIBAO par quelque moyen que ce soit, ou a fortiori suit la procédure d’enregistrement et/ou met en œuvre les services proposés par ABIBAO.</p>
          <p>La qualité d’Utilisateur induit l'acceptation irrévocable et définitive de l’intégralité des Conditions Générales d'Utilisation de la part de chacun des utilisateurs.</p>
          <p>Tout manquement à ces règles pourra entraîner la suspension ou la résiliation du compte et du droit d’accès et le refus immédiat et pour le futur de l'accès à tout ou partie du Site.</p>
          <p>Ces conditions prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par ABIBAO.</p>
          <p>La société ABIBAO SAS se réserve de pouvoir modifier ses conditions à tout moment, conformément aux dispositions de l’article 23. Dans ce cas, les conditions applicables seront celles en vigueur à la date de l’inscription par l’utilisateur.</p>
        </div>
        <div id="Q3">
          <h3>3. Description</h3>
          <p>ABIBAO propose une plate-forme de mise en relation et d’échange, doté de fonctions permettant un « réseau social » constitué de la mise en relation d’une communauté d'utilisateurs qui accepte de répondre à des sondages contre une rémunération qui est directement reversée aux associations caritatives au choix de l'Utilisateur.</p>
          <p>ABIBAO ne prélève aucune commission sur l’argent reversé aux associations. Le Service est gratuit pour les associations soutenues par ABIBAO.</p>
          <p>Les frais de fonctionnement d’ABIBAO ainsi que la rémunération prévue pour les associations sont facturés aux entreprises qui utilisent le Service.</p>
          <p>L’objectif principal d’ABIBAO est de faciliter l’accès aux sondages des entreprises qui le souhaitent en motivant les participants par le geste vertueux au profit des associations caritatives.</p>
          <p>Enfin, le service ABIBAO a vocation à promouvoir la qualité des sondages mis en œuvre, de permettre un retour d’information concernant les sondages, et de valoriser les contenus traités.</p>
        </div>
        <div id="Q4">
          <h3>4. Capacité</h3>
          <p>Le Site ABIBAO est ouvert à tous et destiné au grand public. Toutefois, tout utilisateur qui souhaite s’enregistrer et accéder à des rubriques qui relèvent du commerce électronique doit être âgé d’au moins 13 ans, et doit être capable juridiquement de contracter et d’utiliser les rubriques en question. Dans le cas d’un mineur (plus de 13 ans et moins de 18 ans) celui-ci garantit ABIBAO qu’il a obtenu l’accord de ses représentants légaux pour utiliser le service</p>
        </div>
        <div id="Q5">
          <h3>5. Pré requis</h3>
          <p>Afin d’accéder au Service, il est nécessaire de disposer d’un accès à Internet (les éventuels frais correspondants sont à la charge de l’utilisateur).</p>
          <p>Il est nécessaire de disposer de tout matériel nécessaire, et notamment d'un ordinateur, d'un modem ou de tout autre outil de connexion, afin d'assurer cette connexion au réseau Internet et au téléchargement de Contenus. Une connexion haut-débit d’un minimum de 500 ko/s est normalement nécessaire.</p>
          <p>Le Site est optimisé pour les navigateurs courants. La compatibilité du Site avec un autre type de configuration ne peut être garantie.</p>
          <p>Dans le cas où l’utilisation du Service nécessiterait le téléchargement d’un logiciel spécifique, l’utilisateur s’engage à ne pas installer, copier ou utiliser ce logiciel avant d’avoir préalablement acquiescé aux termes de ladite licence.</p>
        </div>
        <div id="Q6">
          <h3>6. Processus de formation des engagements</h3>
          <p>Sous réserve des présentes conditions, l’utilisateur qui désire utiliser un des Services proposés par ABIBAO a l’obligation de remplir le formulaire d’inscription prévu à cet effet.</p>
          <p>Lors de son enregistrement dans la rubrique « inscription », l’utilisateur doit saisir obligatoirement ses adresse email de contact, souhait de mot de passe et de manière facultative toute autre information actuelle ou à venir qui s’avérerait nécessaire à la proposition ou au bénéfice de Services.</p>
          <p>La société ABIBAO SAS se réserve le droit d'annuler l’inscription en cas de défaut et/ou d’inexactitude de toute information nécessaire et ne saurait être tenue responsable de l'impossibilité dans laquelle il pourrait être d’honorer l’inscription en ce cas.</p>
          <p>Au terme du processus d’enregistrement et d’inscription, l’utilisateur coche la case « j’accepte les Conditions Générales d’Utilisation» puis clique sur une seconde icône "valider " l’inscription.</p>
          <p>Lorsque l’utilisateur clique sur l'icône "Valider" à l'issue du processus d’inscription, l’utilisateur déclare irrévocablement accepter en connaissance de cause l’inscription à ABIBAO (conditions, objet, contenu), les éventuels frais de mise à disposition y afférents ainsi que l'intégralité des conditions générales d’utilisation applicables à cette inscription, pleinement et sans réserve.</p>
          <p>La société ABIBAO SAS recommande à ses utilisateurs  de stocker au plan informatique ou d'imprimer une copie de l’inscription passée.</p>
          <p>Pour toute inscription, ABIBAO transmet dans les meilleurs délais, à l'adresse mail que l’utilisateur aura communiquée, une confirmation d’inscription par courrier électronique reprenant l'ensemble des informations communiquées par l’utilisateur.</p>
          <p>L’engagement ne sera réputé conclu qu'à compter de la réception de la confirmation de l’inscription.</p>
          <p>La société ABIBAO SAS se réserve le droit d'annuler toute inscription d'un Utilisateur avec lequel existerait un litige relatif à l’utilisation d’un service ou dans le cadre d’une inscription antérieure, ou en cas de non-réception de documents justificatifs ou de réception de documents jugés non conformes.</p>
        </div>
        <div id="Q7">
          <h3>7. Compte d’Utilisateur et mot de passe</h3>
          <p>Tout Utilisateur du Service s’engage, comme demandé dans le formulaire d'inscription ou lors de toute autre demande d'information nécessaire au bon fonctionnement du Service en général :</p>
          <ul>
            <li>A fournir des informations réelles, exactes, à jour et complètes comme demandé dans le formulaire ;</li>
            <li>A maintenir et remettre à jour régulièrement les données d’inscription afin de les conserver réelles, exactes, à jour et complètes.</li>
          </ul>
          <p>Dans l'hypothèse où les informations fournies seraient fausses, inexactes, périmées ou incomplètes, la société ABIBAO SAS serait en droit de suspendre ou de résilier le compte et de refuser immédiatement et pour le futur l'accès à tout ou partie du Site Internet.</p>
          <p>A l'issue de la procédure d'inscription, chaque Utilisateur se voit attribuer un nom de compte et un mot de passe strictement personnels, individuels et incessibles.</p>
          <p>L’utilisateur est seul responsable de la conservation du caractère confidentiel du compte et du mot de passe et de toutes actions qui pourront être faites sous l’identification du compte et/ou avec le mot de passe.</p>
          <p>L’utilisateur s’engage :</p>
          <ul>
            <li>à informer immédiatement par email la société ABIBAO SAS de tout vol ou perte de son mot de passe, de toute utilisation non autorisée du compte et/ou du mot de passe et de toute atteinte à la sécurité dont il a connaissance. La société ABIBAO SAS procèdera alors au remplacement du mot de passe. La déclaration de perte ou de vol pourrait entraîner la destruction pure et simple des informations et fichiers stockés, sans aucun droit à indemnisation, ce dont l’utilisateur est parfaitement informé.</li>
            <li>à s’assurer qu'il se déconnecte à l'issue de chaque session. La société ABIBAO SAS ne pourra être tenue responsable de toute perte ou dommage survenant en cas de manquement aux obligations du présent article.</li>
          </ul>
        </div>
        <div id="Q8">
          <h3>8. Désactivation / résiliation de Compte d’Utilisateur</h3>
          <p>L’Utilisateur peut désactiver son compte sur le site, à tout moment et pour quelque raison que ce soit, en contactant le service ABIBAO à l’adresse contact@abibao.com. La désactivation s’entend par le fait de rendre inaccessibles les informations relatives, l’utilisateur pouvant revenir à volonté.</p>
          <p>Si l’utilisateur demande suppression définitive et irrévocable des informations, il devra y procéder par courrier en fournissant la copie d’un titre d’identité comportant une signature afin d’éviter toute usurpation d’identité à l’occasion des suppressions de compte.</p>
          <p>La suppression totale des informations en ligne ainsi que sur les serveurs hébergeant le service ABIBAO sera effective dans un délai de UN (1) mois.</p>
          <p>En cas d'abus ou de litige, la société ABIBAO SAS se réserve également le droit de mettre fin à l'utilisation d'un compte et à son enregistrement dans le site, à tout moment et sans préavis à l'intention de l’Utilisateur et sans aucune responsabilité ou autre obligation envers lui ou une autre partie.</p>
          <p>La société ABIBAO SAS se réserve aussi le droit d'utiliser un moyen technologique, juridique, opérationnel ou autre à sa disposition pour faire valoir les dispositions des présentes Conditions, notamment en bloquant l'accès au site ABIBAO.</p>
          <p>La société ABIBAO SAS se réserve le droit de filtrer, d'éliminer, de refuser, d'accepter, d'envoyer, d'afficher ou de transmettre tout contenu, sans préavis et sans aucune responsabilité d'aucune sorte et d'évincer tout membre et d'entreprendre, le cas échéant, toute poursuite qu'un contenu, une information ou un comportement illicite pourraient justifier.</p>
        </div>
        <div id="Q9">
          <h3>9. Intégrité, confidentialité et non-divulgation des contenus</h3>
          <h4>A. Contributions des utilisateurs</h4>
          <p>La société Abibao est particulièrement soucieuse du respect de la sécurité, de la confidentialité et de la vie privée de ses utilisateurs.</p>
          <p>L’utilisateur s'engage à n'utiliser les informations concernant les Services cités que pour ses besoins propres et pour les seules finalités visées au présent engagement, ainsi qu’à ne pas développer ou commercialiser tout ou partie du Site Internet ou des Services susceptibles de le concurrencer.</p>
          <p>Chaque Utilisateur est averti que toutes les informations, données, textes, photographies, images, ou tous autres matériels (ci-après dénommés collectivement le "CONTENU") qu'ils soient portés à la connaissance du public ou transmis de manière privée, sont soumis à la seule responsabilité du titulaire du compte identifié comme ayant produit ou émis ce Contenu.</p>
          <p>Dans les hypothèses ou il télécharge ou transmet à ou via ABIBAO, des informations, et tout CONTENU quel qu’il soit, de quelque manière que ce soit via le Service, seul l’utilisateur et non la société ABIBAO SAS en est responsable.</p>
          <p>L’utilisateur reconnait également qu’il doit faire preuve de discernement, et supporter tous les risques y afférent, dans l'utilisation faite du Contenu et notamment lorsqu’il se fie à l'opportunité, l'utilité ou le caractère complet de ce CONTENU.</p>
          <p>En effet, la société Abibao n'exerce pas de contrôle du CONTENU transmis via le Service et, en conséquence, ne garantit pas l'opportunité, la probité ou la qualité de ce CONTENU.</p>
          <p>En toutes hypothèses, la société ABIBAO SAS ne pourra en aucun cas être tenu pour responsable notamment du CONTENU, d'erreur ou d'omission dans tout CONTENU, toute perte ou dommage consécutif à l'utilisation de tout CONTENU affiché, transmis par e-mail ou de quelque manière que ce soit via le Service.</p>
          <p>L’utilisateur s’engage à ne pas utiliser le Service, de quelque manière que ce soit, pour :</p>
          <ul>
            <li>télécharger, envoyer, transmettre par tout moyen tout CONTENU qui soit illégal, nuisible, menaçant, abusif, constitutif de harcèlement, diffamatoire, vulgaire, obscène, menaçant pour la vie privée d'autrui, haineux, raciste ou autrement répréhensible ;</li>
            <li>télécharger, afficher, transmettre par tout moyen tout CONTENU violant tout brevet, marque déposée, secret de fabrication, droit de propriété intellectuelle ou tout autre droit de propriété appartenant à autrui, tel que notamment le droit à l’image ;</li>
            <li>télécharger, afficher, transmettre par tout moyen toute publicité ou tout matériel promotionnel non sollicités ou non autorisés (notamment se livrer à des "spam", à la transmission de "junk mail", de chaîne de lettres ou toute autre forme de sollicitation);</li>
            <li>entraver ou perturber le Service, les serveurs, les réseaux connectés au Service, enregistrer ou transmettre des fichiers et données contenant des virus ou des programmes destinés à écraser des données en mémoire ou toute autre fonction contaminatrice ou refuser de se conformer aux conditions requises, aux procédures, aux règles générales ou aux dispositions réglementaires applicables aux réseaux connectés au Service;</li>
            <li>violer, intentionnellement ou non, toute loi ou réglementation nationale ou internationale en vigueur et toutes autres règles ayant force de loi ;</li>
            <li>harceler de quelque manière que ce soit un autre ou plusieurs autres utilisateurs ;</li>
            <li>collecter et stocker des données personnelles afférentes aux autres utilisateurs.</li>
            <li>diriger les autres Utilisateurs directement ou indirectement vers d'autres sites Internet et Services qui seraient susceptibles de ne pas respecter les législations applicables en l'espèce et/ou les présentes Conditions.</li>
          </ul>
          <p>L’utilisateur est averti que la société ABIBAO SAS n’examine pas systématiquement les CONTENUS avant leur diffusion. Néanmoins, la société ABIBAO SAS ou toute personne ou entité désignée par cette dernière, se réserve le droit, à sa seule discrétion, (sans que cela ne constitue une obligation) de refuser ou de déplacer tout Contenu disponible via le Service.</p>
          <p>Par ailleurs, la société ABIBAO SAS, ou toute personne ou entité désignée par elle sera en droit de supprimer ou de retirer tout CONTENU qui violerait les termes des présentes ou serait répréhensible de toute autre façon.</p> 
          <p>En outre, la société ABIBAO SAS se réserve le droit de refuser de traiter les CONTENUS qui lui semblent violer les termes des présentes ou répréhensibles de toute autre façon.</p>
          <p>Enfin, la société ABIBAO SAS se réserve également le droit de suspendre le compte de l’utilisateur ou de limiter la faculté de celui-ci de transmettre ou produire tout CONTENU.</p>
          <p>Enfin, l’utilisateur reconnaît et accepte que si la société ABIBAO SAS protège le CONTENU contre les accès frauduleux, elle peut néanmoins être amené à le divulguer, pour se conformer aux lois en vigueur ou si de bonne foi, elle pense qu'une telle mesure est nécessaire :</p>
          <ul>
            <li>dans le cadre d'une procédure judiciaire ;</li>
            <li>pour faire respecter les Conditions d'Utilisation du Service;</li>
            <li>pour répondre à des plaintes arguant de la violation des droits de tiers ;</li>
            <li>pour protéger les droits ou les intérêts de la société ABIBAO SAS, de ses utilisateurs ou encore du public.</li>
          </ul>
          <h4>B. Echanges</h4>
          <p>Pour ce qui concerne les échanges entre membres de la communauté, la société ABIBAO SAS met à disposition de l’Utilisateur un système d’échanges interne. Ce système permet d'envoyer des messages écrits, aux autres membres du Service.</p>
          <p>L’utilisateur est averti que la société ABIBAO SAS conserve une copie de chaque CONTENU envoyé à un autre membre, et ceci afin de garantir la sécurité de chacun en cas de litige.</p>
          <p>La société ABIBAO SAS se réserve le droit de prendre connaissance du contenu des messages privés échangés, dès lors que les circonstances le justifieront.</p>
        </div>
        <div id="Q10">
          <h3>10. Modalités d'administration</h3>
          <p>L’utilisateur reconnaît être parfaitement informé et accepte expressément que la transmission des Contenus ne soit pas protégée ou chiffrée.</p>
          <p>La société ABIBAO SAS peut appliquer des règles générales et des limites quant à l'utilisation du Service, et notamment, sans que cette énumération soit limitative, fixer un espace de mémoire maximum qui sera alloué sur les serveurs de ABIBAO où sera hébergé le Contenu et fixer un maximum au nombre de fois où l’utilisateur pourra accéder à un Service pendant une période donnée (ainsi que la durée maximale de chaque accès).</p>
          <p>La société ABIBAO SAS se réserve le droit de mettre instantanément hors ligne tout ou partie des données d'un Utilisateur si celles-ci mettent en péril la stabilité du serveur sur lequel sont stockés les fichiers des utilisateurs, notamment en cas d'usage excessif de ressources.</p>
          <p>En outre, la société ABIBAO SAS se réserve le droit d'interrompre temporairement l'accessibilité à ses Services pour des raisons de maintenance et/ou d'amélioration sans droit à indemnités.</p>
          <p>Cependant, la société ABIBAO SAS engage à mettre en œuvre tous les moyens dont il dispose pour minimiser ce type d'interruption.</p>
          <p>L’utilisateur est également informé qu’ABIBAO sera libre de supprimer tout compte resté inutilisé pendant TROIS (3) années.</p>
          <p>ABIBAO n'apporte aucune garantie pour la suppression ou le défaut de stockage de tout message, de toute communication ou de tout autre Contenu diffusé ou transmis via le Service.</p>
          <p>ABIBAO n'apporte aucune garantie de bon fonctionnement, de pérennité, de bonne disponibilité, de continuité, de sauvegarde et de mise à disposition des contenus transférés vers ou via le Service.</p>
          <p>La société ABIBAO SAS est dispensée de toute obligation de correction de défauts de conception du Service, même si ceux-ci ont pu entraîner des pertes d'informations préjudiciables à l’utilisateur.</p>
        </div>
        <div id="Q11">
          <h3>11. Réclamations</h3>
          <p>La responsabilité de la société ABIBAO SAS ne peut être recherchée en cas de conflit ou litige portant sur le contenu des informations communiquées par les Utilisateurs sur le Service (textes, images, photographies, logos…) tant que la société ABIBAO SAS, qui n’est que l’hébergeur du CONTENU figurant sur le Service, ne se voit pas notifier, dans les conditions prévues par la loi, le caractère manifestement illicite ou illégal du contenu présent sur le Service.</p>
          <p>Cela étant précisé, la société ABIBAO SAS invite les Utilisateurs à l’informer de tout éventuel abus constaté sur le Service. Il est rappelé qu'un tel signalement n'est qu'indicatif et ne lie en aucun cas la société ABIBAO SAS, en particulier au sujet du retrait d'un contenu prétendument abusif ou illégal. En effet, toute notification de contenus illicites ou protégés par des droits d’auteur auprès de la société ABIBAO SAS doit obligatoirement être formulé par courrier recommandé avec accusé réception à l'adresse de la société ABIBAO SAS et indiquer les informations suivantes:</p>
          <ul>
            <li>la date de la notification ;</li>
            <li>si le notifiant est une personne physique : ses nom, prénoms, profession, domicile, nationalité, date et lieu de naissance ;</li>
            <li>si le notifiant est une personne morale : sa forme, sa dénomination, son siège social et l’organe qui la représente légalement ;</li>
            <li>les noms et domicile du destinataire ou, s’il s’agit d’une personne morale, sa dénomination et son siège social ;</li>
            <li>la description des faits litigieux et leur localisation précise (avec copie de l’adresse URL précise du contenu);</li>
            <li>les motifs pour lesquels le contenu doit être retiré, comprenant la mention des dispositions légales et des justifications de fait ;</li>
            <li>la copie de la correspondance adressée à l’auteur ou à l’éditeur des informations ou activités litigieuses demandant leur interruption, leur retrait ou leur modification, ou la justification de ce que l’auteur ou l’éditeur n’a pu être contacté.</li>
          </ul> 
          <p>Il est rappelé que le fait, pour toute personne, de présenter un contenu ou une activité comme étant illicite dans le but d'en obtenir le retrait ou d'en faire cesser la diffusion, alors qu'elle sait cette information inexacte, est susceptible de faire l’objet de sanctions conformément à la législation en vigueur.</p>
        </div>
        <div id="Q12">
          <h3>12. Limitation des responsabilités</h3>
          <p>ABIBAO est accessible par le réseau Internet 24 heures sur 24 et 7 jours sur 7 et s’engage à tout mettre en œuvre pour assurer la permanence, la continuité et la qualité des Services proposés.</p>
          <p>Néanmoins, du fait des caractéristiques et limites de l'Internet, que l’utilisateur déclare connaître, la société ABIBAO SAS ne peut en aucune manière être tenue responsable :</p>
          <ul>
            <li>Des vitesses d'accès depuis d'autres Services dans le monde, de ralentissements, ou de difficultés d'accès aux données de l’utilisateur,</li>
            <li>Du non-acheminement de courriers électroniques, du fait des mêmes limitations et caractéristiques de l'Internet,</li>
            <li>En cas d’altération des informations ou des données durant le transfert par un quelconque moyen de télécommunication ou par tous autres moyens,</li>
            <li>De la contamination par virus des données et/ou logiciels de l’utilisateur, dont la protection incombe à ce dernier;</li>
            <li>Des intrusions malveillantes de tiers sur l’espace de l’utilisateur ou du piratage des données, malgré les mesures raisonnables de sécurité mises en place,</li>
            <li>En cas de dommage résultant de la perte, de l’altération ou de toute utilisation frauduleuse de données, de la transmission accidentelle de virus ou autres éléments nuisibles, de l’attitude ou comportement d’un tiers, de la non-conclusion d’une opération.</li>
            <li>Des intrusions malveillantes de tiers sur l’espace de l’utilisateur ou du piratage des données de l’utilisateur, malgré les mesures raisonnables de sécurité mises en place,</li>
            <li>Des dommages que pourraient subir les équipements connectés au Centre Serveur, ceux-ci étant sous l’entière responsabilité de l’utilisateur, dommages quelconques, directs ou indirects, matériels ou immatériels résultant notamment de la consultation et/ou de l'utilisation de ce Site Internet (ou d'autres Services qui lui sont liés) et des éventuelles applications en téléchargement, comme de l'utilisation des informations textuelles ou visuelles, qui auraient pu être recueillies et notamment de tout préjudice financier ou commercial, de pertes de programmes ou de données dans son système d'information.</li>
            <li>Des détournements éventuels des mots de passe, codes confidentiels, et plus généralement de toute information à caractère sensible pour l’utilisateur.</li>
            <li>De la perte des données de l’utilisateur. ABIBAO est un Service Internet en ligne d’affichage et de partage d’informations et de mise en relations,  mais ne constitue pas une plate-forme d’archivage ni de sauvegarde. Ceci étant, la société ABIBAO SAS met tout en œuvre pour que le système fonctionne dans les meilleures conditions possibles.</li>
            <li>D'une demande d'interruption temporaire ou définitive de la plateforme émanant d'une autorité administrative ou judiciaire compétente, ou notification d'un tiers au sens de l'article 6 de la LCEN.</li>
          </ul>
        </div>
        <div id="Q13">
          <h3>13. Preuve des engagements</h3>
          <p>La société ABIBAO SAS et l’utilisateur conviennent que l’utilisation du compte de l’utilisateur par lui-même ou par un tiers fera preuve entre eux de l’acceptation de toute transaction avec la société ABIBAO SAS comme avec un autre Utilisateur, quel qu’en soit le contenu et quel que soit le support utilisé.</p>
          <p>Les informations enregistrées par le système sont considérées comme valant preuve de la nature, du contenu et de la date des transactions conclues. Ces modalités de preuve constituent une présomption irréfragable.</p>
          <p>La société ABIBAO SAS pourra se prévaloir, notamment à des fins probatoires, de tout acte, fichier, enregistrement, rapport de suivi, statistiques sur tous supports dont le support informatique établi, reçu ou conservé directement ou indirectement dans une base de données.</p>
        </div>
        <div id="Q14">
          <h3>14. Garanties sur les services proposés</h3>
          <p>L’utilisateur est informé sur le site ABIBAO des caractéristiques essentielles des Services proposés.</p>
          <p>Cependant l’utilisateur est invité à prendre connaissance de toute autre information complémentaire fournie. Aucune garantie expresse ou tacite ne peut être accordée par la société ABIBAO SAS à ce sujet.</p>
        </div>
        <div id="Q15">
          <h3>15. Délai de rétractation</h3>
          <p>Dès lors qu’il n’a effectué aucune transaction par l’intermédiaire de ABIBAO, l’utilisateur dispose, le cas échéant et selon sa qualité, de la possibilité d’exercer la faculté de rétractation prévue par le Code de la Consommation (article L 121–16 et suivants) en révoquant son inscription à tout moment et en particulier en l'espace d'un délai de quatorze (14) jours à compter de la conclusion de l’inscription sans l'indication de motifs via un message à contact@abibao.com.</p>
          <p>La présentation de la révocation est aussi possible par courrier postal. L'expédition en temps voulu de la rétractation fait foi du respect du délai de rétractation.</p>
          <p>Conformément au Code de la Consommation (articles L 121-20 et suivants), dans le cadre d'un contrat conclu à distance, il est précisé que s’agissant d’un Service de mise en relation dont le bénéfice est susceptible d’être immédiatement retiré de son utilisation, l’utilisateur n’est pas censé bénéficier d'un droit de rétractation sans pénalités et sans indication du motif. Le droit de rétractation prend donc prématurément fin, dans le cas où le contrat a été accompli intégralement par l’utilisateur qui, en effectuant une transaction, sollicite expressément qu’expire le délai de rétractation.</p>
          <p>En effet, compte tenu du fait que l’inscription de l’utilisateur consiste en la fourniture par ABIBAO de Services d’information, de partage et de mise en relation, et qu’en tout état de cause l’utilisateur souhaite que ABIBAO commence instantanément l’exécution de sa prestation de service de mise en relation avant l’expiration d’un délai de 14 jours suivants la confirmation de l’inscription, ABIBAO et l’utilisateur conviennent dans ce cas que ce dernier renonce à exercer son droit de rétractation.</p>
        </div>
        <div id="Q16">
          <h3>16. Propriété Intellectuelle </h3>
          <p>La structure générale, ainsi que les textes, images animées ou non, sons, savoir-faire de la société ABIBAO SAS, et tout autre élément composant le Service y compris la technologie sous-jacente, sont la propriété de la société ABIBAO SAS, du Service et de tiers ayant éventuellement autorisé la société ABIBAO SAS à les exploiter, que ce soit sous le régime propriétaire ou libre.</p>
          <p>Sauf dispositions explicites ou liée à la licence employée, il est interdit de reproduire, modifier, transmettre, publier, adapter, sur quelque support que ce soit, ou exploiter de quelque manière que ce soit, tout ou une partie du Service sans l’autorisation écrite au préalable de la société ABIBAO SAS. Ceci constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
          <p>Il en est de même des bases de données figurant, le cas échéant, sur le Site Internet qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de la directive du 11 mars 1996 relative à la protection juridique des bases de données, et dont la société ABIBAO SAS est productrice.</p>
          <p>Les données consultables sur le Site Internet ne peuvent donc en aucune manière faire l'objet, même partiellement, d'aucun prêt, échange ou cession, d'aucune extraction totale ou partielle des données et transfert sur un autre support.</p>
          <p>Les signes distinctifs exploités par la société ABIBAO SAS et ses partenaires, ainsi que les logos figurant sur le Site Internet sont déposés par leurs titulaires respectifs.</p>
          <p>Toute reproduction totale ou partielle de ces signes distinctifs, marques ou logos, effectuée à partir des éléments du Site Internet sans l'autorisation expresse de la société ABIBAO SAS, est donc prohibée, au sens de l'article L.713-2 du Code de la propriété intellectuelle.</p>
        </div>
        <div id="Q17">
          <h3>17. Liens hypertexte et connexions</h3>
          <p>Un lien simple renvoyant directement à la page d'accueil du Site ABIBAO peut être mis en place sur un Site Internet tiers. Il ne s'agira pas dans ce cas d'une convention implicite d'affiliation.</p>
          <p>Dans tous les cas, tout lien, même expressément autorisé, pourra être retiré sur simple demande de la société ABIBAO SAS.</p>
          <p>La société ABIBAO SAS n'est pas responsable du contenu et du fonctionnement de ces Sites tiers, ainsi que des éventuels préjudices ou dommages (virus ...), de quelque nature qu'ils soient, subis par l’utilisateur à l'occasion d'une connexion sur ces Sites.</p>
        </div>
        <div id="Q18">
          <h3>18. Contribution des utilisateurs</h3>
          <p>L’Utilisateur reconnaît qu'en mettant en ligne un CONTENU sur ou par le biais du Service, il accorde à la société ABIBAO SAS, le droit d'utiliser, reproduire, modifier, distribuer, afficher, diffuser gratuitement ce CONTENU tout en mentionnant le nom de l’Utilisateur/auteur. L’Utilisateur accepte de prendre toutes les mesures nécessaires pour protéger ses droits de propriété intellectuelle sur ledit CONTENU, y compris notamment, en en affichant des mentions de droit d'auteur appropriées.</p>
        </div>
        <div id="Q19">
          <h3>19. Données à caractère personnel</h3>
          <p>La société ABIBAO SAS, en vue d’assurer le bon fonctionnement du service et dans le cadre de ses prestations, est amenée à collecter et à traiter des données à caractère personnel.</p> 
          <p>Le traitement de ces données, et plus généralement, le respect des informations concernant les utilisateurs fait l’objet d’une Politique de Respect de la Vie Privée que l’Utilisateur est amené à consulter et dont il accepte les termes.</p>
        </div>
        <div id="Q20">
          <h3>20. Force majeure</h3>
          <p>La société ABIBAO SAS ne sera pas tenue pour responsable de tout retard ou inexécution, lorsque la cause du retard ou de l'inexécution serait due à la survenance d'un cas de force majeure tels que, outre ceux habituellement reconnus par la jurisprudence, le blocage des télécommunications, le blocage d’Internet, la panne du matériel supportant le Service, l’incendie, les dégâts des eaux, le blocage des moyens de transport ou d’approvisionnement, la grève totale ou partielle.</p>
          <p>Chaque partie devra informer l'autre dans les meilleurs délais en cas de survenance d'un événement de force majeure l'empêchant d'exécuter tout ou parties de ses obligations.</p>
          <p>Le cas de force majeure suspend les obligations nées des présentes conditions particulières pendant toute la durée de son existence. Cependant si le cas de force majeure avait une durée d'existence supérieure à UN (1) mois consécutif, il ouvrirait droit à la résiliation de plein droit du présent conditions particulières par l'une ou l'autre des parties HUIT (8) jours après l'envoi d'une lettre recommandée avec accusé de réception notifiant cette décision.</p>
        </div>
        <div id="Q21">
          <h3>21. Intégralité</h3>
          <p>Dans l'hypothèse où l'une des dispositions des présentes conditions serait nulle et non avenue par un changement de législation, de réglementation ou par une décision de justice, cela ne saurait en aucun cas affecter la validité et le respect des autres conditions. Les titres des articles n'ont qu'une valeur indicative.</p>
        </div>
        <div id="Q22">
          <h3>22. Durée</h3>
          <p>Les présentes conditions s'appliquent pendant toute la durée de mise en ligne des Services offerts dans le cadre d’ABIBAO. Elles peuvent être modifiées à tout moment.</p>
          <p>Dans ce cas, la société ABIBAO SAS avertira l’utilisateur par email du changement dans un délai de QUINZE (15) jours. Celui-ci disposera alors de TRENTE (30) jours à compter de la date de réception de l'information pour dénoncer le présent contrat. Après ce délai, le nouvel engagement sera considéré comme accepté.</p>
          <p>En cas de manquement au respect de l'une des obligations des présentes conditions, il pourra être mis fin à l’accès au Service après mise en demeure restée sans effet pendant un délai de SEPT (7) jours.</p>
        </div>
        <div id="Q23">
          <h3>23. Droit applicable et compétences</h3>
          <p>La société ABIBAO SAS, en cas de réclamation, s’efforcera de parvenir à un règlement amiable. A défaut, il sera fait application des règles habituelles de compétence.</p>
          <p>Le Contrat est régi par la loi française. Toutes les contestations qui pourraient s'élever entre les parties à l'occasion de l'interprétation et/ou de l'exécution du présent Contrat seront soumises, à défaut d'accord amiable, à la compétence exclusive des juridictions compétentes selon les règles en vigueur et si la loi le permet, devant les tribunaux légalement compétents.</p>
        </div>
    </section>

    <footer>
      <div class="container" id="footer-wrapper">
        <div class="footer-col">
          <div class="footer-col-title">
            NOS PARTENAIRES
          </div>
          <img src="assets/img/partenaires_tmp.png" alt="" />
        </div>
        <div class="footer-col">
          <div class="footer-col-title">
            CONTACT
          </div>
          <div id="footer-contact-wrapper">
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="assets/img/icon_suivez-nous.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  Suivez-nous
                </div>
                <div class="footer-contact-wrapper-col-text">
                  <a href="https://www.facebook.com/pages/Abibao/384344205057545">Facebook Abibao</a>
                  <br><a href="https://twitter.com/abibao_com">Twitter Abibao</a>
                </div>
              </div>
            </div>
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="assets/img/icon_contact.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  <a href="mailto:contact@abibao.com">Contactez-nous</a>
                </div>
                <div class="footer-contact-wrapper-col-text">
                  On vous répond sur contact[❤]abibao.com
                </div>
              </div>
            </div>
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <a href="./faq.html"><img src="assets/img/icon_FAQ.png" alt="FAQ Abibao" /></a>
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  <a href="./faq.html">Foire aux Questions</a>
                </div>
                <div class="footer-contact-wrapper-col-text">
                  Retrouvez toutes les questions les plus posées !
                </div>
              </div>
            </div>
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="assets/img/icon_professionnel.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  Vous êtes une entreprise ?
                </div>
                <div class="footer-contact-wrapper-col-text">
                  <a href="http://pro.abibao.com">Jetez un oeil ici</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mentions">
        <a href="./cgu.html" id="CGU">CGU</a> - <a href="./mentions.html" id="mentions">Mentions Légales</a> - <a href="mailto:contact@abibao.com">Contact</a> - Tous droits réservés Abibao 2016
      </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.carouFredSel-6.2.1-packed.js" charset="utf-8"></script>
    <script src="assets/js/main.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#carousel').carouFredSel({
              direction            : "left",
              align: "center",
              infinite: true,
              height:140,
              width: "100%",
              circular: true,
              scroll : {
                  items            : 1,
                  duration         : 800,
                  pauseOnHover     : false
              }
          });
      });
    </script>
  </body>
</html>
