<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/master-legal.css" media="screen" charset="utf-8">
    <title>Charte d’engagement | Abibao</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="./assets/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDRGK7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MDRGK7');</script>
    <!-- End Google Tag Manager -->

    <section id="jumbotron" class="nobg">
      <header>
        <div id="header-blue-border">
        </div>
        <div id="header-wrapper">
          <div class="container">
            <img id="logo" src="assets/img/abibao_logo.png" srcset="assets/img/abibao_logo@2x.png 2x, assets/img/abibao_logo@3x.png 3x" alt="Abibao" />
            <nav>
              <ul>
                <!-- <li><a href="#">Qui sommes-nous ?</a></li> -->
                <li><a href="./index.html">Accueil</a></li>
                <li id="signin" ><a href="http://dashboard.abibao.com/register">S'inscrire</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </section>

    <section id="abibao-message">
      <div class="container">
        <h2>La charte d’engagement d’Abibao</h2>
        <p style="border: 1px dashed lightgrey; padding: 25px 15px 25px 15px;">Abibao respecte une charte éthique en matière de diffusion des sondages sur sa plateforme. Ce document a pour objet d'assurer la qualité, la transparence et le bon fonctionnement du système sur lequel repose Abibao. Chaque entreprise qui souhaite diffuser un sondage sur la plateforme Abibao s'engage à respecter ces valeurs, sans quoi Abibao se réserve le droit d'annuler la diffusion totale ou partielle d'un questionnaire qui ne respecte pas les engagements de la présente charte.<br/>Bonne lecture !</p>
      </div>
    </section>

    <section id="main">
      <div class="container legal">
        <div id="Q1">
          <h3>Sur Abibao les sondages ne doivent pas :</h3>
          <ul>
            <li>Porter atteinte aux droits d'autrui, à l'ordre public et aux bonnes mœurs, tel que définis par la législation française applicable.</li>
            <li>Porter atteinte aux associations soutenues par Abibao ainsi qu'à leurs adhérents et sympathisants.</li>
            <li>Porter une discrimination liée à l’orientation sexuelle ou l’identité sexuelle ou de genre.</li>
            <li>Etre porteur de messages à caractère raciste, pornographique, pédophile, injurieux, diffamatoire, incitant à la haine ou à la violence.</li>
          </ul>

        </div>
        <div id="Q2">
          <h3>Ne pourrons pas diffuser de sondages sur Abibao les sociétés dont l'activité principale se situe dans l'un des secteurs suivants :</h3>
          <ul>
            <li>La production ou distribution d’armes ou d’armements.</li>
            <li>La production et commercialisation de produits pornographiques.</li>
            <li>Le clonage humain.</li>
            <li>La réalisation d'essais sur des animaux.</li>
            <li>Plus généralement dans un secteur ne respectant pas les Conventions Fondamentales de l’OIT sur les droits humains au travail et notamment en ce qui concerne le travail des enfants.</li>
          </ul>
          <p>D'une manière générale Abibao se réserve le droit de modérer, partiellement ou intégralement, a priori ou a posteriori, tout sondage qui pourrait porter atteinte au bon fonctionnement du système sur lequel repose Abibao.</p>
        </div>
        <div id="Q3">
          <h3>Par ailleurs Abibao s'engage :</h3>
          <ul>
            <li>À ce que l'intégralité des dons annoncés dans le cadre d'une campagne de diffusion d'un questionnaire soit reversée aux associations soutenues par les répondants.</li>
            <li>À avoir une transparence absolue dans la gestion des dons reversés aux associations.</li>
            <li>À créer un environnement pour les associations afin qu'elles puissent récolter des fonds et communiquer facilement avec leurs soutiens.</li>
            <li>À prendre les mesures propres pour cultiver un climat d'entente entre les différentes parties prenantes d'Abibao.</li>
            <li>À sensibiliser les collaborateurs d'Abibao aux différentes causes soutenues par Abibao.</li>
          </ul>
        </div>
    </section>
    <section id="abibao-message">
      <img src="assets/img/abibao-logo-medium.png" alt="Logo Abibao" />
    </section>
    <footer>
      <div class="container" id="footer-wrapper">
        <div class="footer-col">
          <div class="footer-col-title">
            NOS PARTENAIRES
          </div>
          <img src="assets/img/partenaires_tmp.png" alt="" />
        </div>
        <div class="footer-col">
          <div class="footer-col-title">
            CONTACT
          </div>
          <div id="footer-contact-wrapper">
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="assets/img/icon_suivez-nous.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  Suivez-nous
                </div>
                <div class="footer-contact-wrapper-col-text">
                  <a href="https://www.facebook.com/pages/Abibao/384344205057545">Facebook Abibao</a>
                  <br><a href="https://twitter.com/abibao_com">Twitter Abibao</a>
                </div>
              </div>
            </div>
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="assets/img/icon_contact.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  <a href="mailto:contact@abibao.com">Contactez-nous</a>
                </div>
                <div class="footer-contact-wrapper-col-text">
                  On vous répond sur contact[❤]abibao.com
                </div>
              </div>
            </div>
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <a href="./faq.html"><img src="assets/img/icon_FAQ.png" alt="FAQ Abibao" /></a>
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  <a href="./faq.html">Foire aux Questions</a>
                </div>
                <div class="footer-contact-wrapper-col-text">
                  Retrouvez toutes les questions les plus posées !
                </div>
              </div>
            </div>
<!--             <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="assets/img/icon_professionnel.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  Diffuser un sondage?
                </div>
                <div class="footer-contact-wrapper-col-text">
                  <a href="./pro.html">Jetez un oeil ici</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div id="mentions">
        <a href="./cgu.html">CGU</a> - <a href="./mentions.html">Mentions Légales</a> - <a href="mailto:contact@abibao.com">Contact</a> - Tous droits réservés Abibao 2016
      </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.carouFredSel-6.2.1-packed.js" charset="utf-8"></script>
    <script src="assets/js/main.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#carousel').carouFredSel({
              direction            : "left",
              align: "center",
              infinite: true,
              height:140,
              width: "100%",
              circular: true,
              scroll : {
                  items            : 1,
                  duration         : 800,
                  pauseOnHover     : false
              }
          });
      });
    </script>
  </body>
</html>
