<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./assets/css/master-FAQ.css" media="screen" charset="utf-8">
    <title>FAQ | Abibao</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="./assets/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ ua_code }}', 'auto');
      ga('send', 'pageview');

    </script>
    <section id="jumbotron" class="nobg">
      <header>
        <div id="header-blue-border">
        </div>
        <div id="header-wrapper">
          <div class="container">
            <img id="logo" src="./assets/img/abibao_logo.png" srcset="./assets/img/abibao_logo@2x.png 2x, ./assets/img/abibao_logo@3x.png 3x" alt="Abibao" />
            <nav>
              <ul>
                <!-- <li><a href="#">Qui sommes-nous ?</a></li> -->
                <li><a href="./index.html">Accueil</a></li>
                <li id="signin" ><a href="{{ dashboard_url }}/register" id="cta_header">S'inscrire</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </section>

    <section id="abibao-message">
      <div class="container">
        <h2>FAQ Abibao</h2>
        <p style="border: 1px dashed lightgrey; padding: 30px;">Vous êtes curieux(se) d'en savoir + sur Abibao ? Nous allons tout vous dire sur notre éthique, notre fonctionnement, et comment nous comptons vous permettre de financer (gratuitement) de beaux projets.</p>
      </div>
    </section>

    <section id="main">
      <div class="container FAQ_sommaire">
        <h3>Abibao ?</h3>
        <p>
          <div><a href="#Q1">Qu'est-ce qu'Abibao ?</a></div>
          <div><a href="#Q2">Le fonctionnement</a></div>
          <div><a href="#Q3">Une entreprise responsable, sociale et solidaire</a></div>
          <div><a href="#Q4">Le business model</a></div>
          <div><a href="#Q5">C'est gratuit et ça le restera.</a></div>
          <div><a href="#Q6">Pourquoi êtes-vous une entreprise et pas une association ?</a></div>
        </p>
        <h3>Les utilisateurs</h3>
        <p>
          <div><a href="#Q7">Des données anonymes</a></div>
          <div><a href="#Q8">Des données sécurisées</a></div>
          <div><a href="#Q9">Pas de SPAM, ni de fichage commercial</a></div>
          <div><a href="#Q10">A quoi servent les questionnaires de profil?</a></div>
          <div><a href="#Q11">"Je connais déjà les sites de sondages, on perd du temps et on ne gagne rien !"</a></div>
        </p>
        <h3>Les associations</h3>
        <p>
          <div><a href="#Q12">La sélection des associations</a></div>
          <div><a href="#Q13">Je représente une association et j'aimerai la proposer</a></div>
          <div><a href="#Q14">Quelles sont les conditions pour les associations ?</a></div>
          <div><a href="#Q15">Comment est calculée la rémunération pour les associations ?</a></div>
        </p>
        <h3>Les sondages</h3>
        <p>
          <div><a href="#Q16">D'où viennent les sondages ?</a></div>
          <div><a href="#Q17">Les sondages sont-ils longs ?</a></div>
        </p>
        <h3>Nous aider</h3>
        <p>
          <div><a href="#Q18">1 - S'incrire sur Abibao</a></div>
          <div><a href="#Q19">2 - En parler autour de vous</a></div>
          <div><a href="#Q20">3 - Devenir ambassadeur</a></div>
        </p>
      </div>
      <div class="container FAQ">
        <h2>Abibao ?</h2>
        <div id="Q1">
          <h3>Qu'est-ce qu'Abibao ?</h3>
          <p>Nous sommes une communauté d'utilisateurs qui accepte de répondre à des sondages contre une rémunération qui est directement reversée aux associations caritatives de notre choix.</p>
          <p>Voici schématiquement comment s'organise notre modèle :</p>
          <p style="text-align:center;"><img src="./assets/img/schema01.jpg"></p>
          <p>
            <i>Les entreprises acceptent de financer des associations à chaque fois que nous répondons à leurs sondages. Tout le monde est gagnant et nous donnons du sens aux études marketing des entreprises !</i>
          </p>
        </div>
        <div id="Q2">
          <h3>Le fonctionnement</h3>
          <p>
            <ol>
              <li>Inscrivez-vous sur Abibao.</li>
              <li>Enrichissez votre profil (cela augmente vos chances de recevoir des sondages).</li>
              <li>Sélectionnez une association.</li>
              <li>Lorsqu'un sondage apparait et correspond à votre profil, vous recevez une notification par email.</li>
              <li>Vous répondez et le montant indiqué est automatiquement reversé à l'association que vous avez sélectionnée.</li>
            </ol>
          </p>
        </div>
        <div id="Q3">
          <h3>Une entreprise responsable, sociale et solidaire</h3>
          <p>La plateforme est gérée par l'entreprise <strong>Abibao</strong>. Nous sommes une startup dans une mission d'entrepreneuriat social. Comme toute entreprise, nous nous devons d’être rentables pour exister, mais cette rentabilité est au service de notre finalité sociale. Nous gérons nos ressources de telle sorte à maximiser sur le long-terme notre impact social. En pratique, nous mettons en place des logiques de fonctionnement simples comme le fait de mettre les excédents au service du développement et de la croissance d'Abibao, de rémunérer de façon limitée le capital ou encore d’encadrer l’échelle des salaires.</p><p>Mais par dessus tout, c'est l'engagement des fondateurs à vouloir donner un sens à leur projet qui garanti à Abibao d'entreprendre pour le bien.</p>
        </div>
        <div id="Q4">
          <h3>Le business model</h3>
          <p>Abibao ne prélève aucune commission sur l’argent reversé aux associations. 100% des fonds vont aux organismes caritatifs et c’est totalement gratuit pour eux. Nos frais de fonctionnement sont couverts par un ticket d’entrée payé par les entreprises pour accéder à la plateforme. <strong>Nous avons construit notre modèle économique de telle sorte qu'Abibao gagnera toujours moins d'argent que ce qu'elle aura reversé aux associations.</strong></p>
        </div>
        <div id="Q5">
          <h3>C'est gratuit et ça le restera.</h3>
          <p>Gratuit pour vous, gratuit pour les associations. A vie. Nous pensons que l'argent des financements doit venir des entreprises commerciales. Si vous souhaitez faire un don en argent directement à une association, vous pouvez le faire en passant par le site de cette association.</p>
        </div>
        <div id="Q6">
          <h3>Pourquoi êtes-vous une entreprise et pas une association ?</h3>
          <p>Au départ, nous avons envisagé utiliser la forme associative pour coller au mieux à nos ambitions solidaires. Dans la pratique, la partie sondage, la collaboration avec les entreprises et la gestion de la plateforme représentent un véritable métier qui demande des nombreux moyens pour démarrer. Aujourd'hui, il est (malheureusement?) plus facile d'aller chercher des aides, des financements et des soutiens quand on est une start-up plutôt qu'une association. Néanmoins, la forme juridique ne nous empêche pas de rester fidèles à nos valeurs. De plus, les objectifs de performances économiques sont au service de notre finalité sociale car la croissance de l'entreprise signifiera mécaniquement plus d'argent pour les associations. Le modèle est donc vertueux.</p>
        </div>
        <h2>Les utilisateurs</h2>
        <div id="Q7">
          <h3>Des données anonymes</h3>
          <p>Abibao n'a pas besoin de savoir <strong>QUI</strong> vous êtes mais seulement <strong>COMMENT</strong> vous êtes. C'est pourquoi la plateforme est anonyme et que nous ne vous demanderons JAMAIS votre identité (Nom/prénom), ni votre adresse, ni votre numéro de téléphone. Nous avons seulement besoin de votre email pour vous envoyer des notifications et cette dernière ne sera jamais utilisée pour de la communication commerciale (le joli mot pour SPAM!) nous nous y engageons. Les entreprises qui passe par Abibao pour diffuser leurs sondages n'ont jamais accès à votre adresse email. Sur Abibao, vous créez un avatar que vous faites vivre sur la plateforme. Bien entendu, les réponses, les avis et les critiques de cet avatar sont le reflet de votre personnalité, mais il n'est pas lié à votre identité personnelle.</p>
        </div>
        <div id="Q8">
          <h3>Des données sécurisées</h3>
          <p>Sur Abibao, vous allez qualifier votre profil en répondant à des questions. Ce sont ces informations qui valent de l'or pour les associations car les entreprises sont prêtes à payer pour les connaitre. Nous en avons conscience et nous allons en prendre grand soin. Toutes ces données seront cryptées, stockées sur des serveurs sécurisés et avec engagement de confidentialité à votre égard (Nous n'en ferons rien de plus que pour les besoins des sondages).</p>
        </div>
        <div id="Q9">
          <h3>Pas de SPAM, ni de fichage commercial</h3>
            <p>Abibao est porté par des valeurs sociales et solidaires. Revendre la base de données comme fichier clients à des tiers ne correspond pas à notre métier et encore moins à nos valeurs. Soyez sûr que vos données resteront toujours anonymes et ne serviront à rien d'autre qu'au fonctionnement d'Abibao.
            <br/>Nous avons besoin de votre adresse email 2 raisons :
            <ul>
              <li>C'est une chose unique que vous seul possédez. On s'en sert donc comme identifiant de connexion.</li>
              <li>C'est un moyen sympa de vous avertir quand il y a un de nouveaux sondages en ligne !</li>
            </ul>
          </p>
        </div>
        <div id="Q10">
          <h3>A quoi servent les questionnaires de profil?</h3>
          <p>Ces questionnaires servent à détailler votre profil pour vous permettre d'être éligible à davantage de sondages et surtout à des sondages qui rapportent plus d'argent à votre association! La plupart des entreprises ciblent spécifiquement un groupe de personne pour leur sondage (ex : les joueurs de Mölkky). Si nous ne savons pas que vous pratiquez ce sport, vous ne recevrez pas le sondage de l'entreprise. Mieux encore, plus l'entreprise demande de critères (ex: Joueur de Mölkky, Femme, ayant des enfants, possédant un potager), plus le montant de son don sera élevé. Pour un même nombre de questions, vos sondages seront parfois plus rémunérateurs si vous avez qualifié votre profil.</p>
        </div>
        <div id="Q11">
          <h3>"Je connais déjà les sites de sondages, on perd du temps et on ne gagne rien !"</h3>
          <p>Ce qui est vrai pour les autres site, ne l'est pas pour Abibao ! Notre approche est différente, tout comme nos valeurs. Soyez assurés que sur Abibao, le temps que vous passez à répondre à un questionnaire sera efficace.
            <ul>
              <li>Abibao <u>ne vous propose pas</u> d'arrondir vos fins de mois, notre moteur c'est aider les associations et notre pillier le respect de l'utilisateur.</li>
              <li>Nous détestons le SPAM.</li>
              <li>Vous ne serez pas sollicité inutilement, chaque questionnaire qui vous sera proposé sera rémunénérateur pour votre association (le filtrage se fait en amont selon votre profil).</li>
              <li>La rémunération pour l'association est à la hauteur du temps que vous passez à répondre (on ne vous exploite pas!).</li>
            </ul>
          </p>
        </div>
        <h2>Les associations</h2>
        <div id="Q12">
          <h3>La sélection des associations</h3>
          <p><strong>L'ambition d'Abibao : Avoir un impact sur les associations financées</strong></p>
          <p>Nous souhaitons que l'apport financier soit véritablement significatif pour les associations qui vont bénéficier d'Abibao. Cela va aussi dans l'intérêt du moral des membres qui seront davantage motivés si leur action participe à un résultat concret.</p>

          <p><strong>Restreindre pour mieux satisfaire</strong></p>
          <p>Comme nous avons conscience qu'une quantité limitée d'argent sera levée la première année, nous comptons intégrer une quantité limitée d'associations au programme de financement.<br/>
          Exemple :<br/>
          Si la première année nous arrivons à générer 50 000€ (nous en serions très fiers!) mais que nos 5000 membres financent chacun une association différente (car il existe plus d'1 million d'asso en France!), le butin moyen espéré sera de 10€.
          Par contre, si nous limitons le nombre d'associations à 10. Le budget moyen sera de 5000€. L'énergie dépensée par tous nos membres aura un réel impact sur les causes qu'ils soutiennent.</p>

          <p><strong>Une sélection vouée à s'élargir</strong></p>
          <p>Au fur et à mesure que notre activité augmentera (plus de membres, plus de sondages etc.), de nouvelles associations rentreront dans le programme. Notre objectif est d'avoir toujours plus d'associations tout en conservant un rapport "budget/nb d'entité" raisonnable.</p>

          <p><strong>Les membres comme seuls décisionnaires</strong></p>
          <p>Les véritables acteurs d'Abibao sont les membres, ce seront donc eux qui décideront quelles associations entreront dans le programme à l'avenir. Au sein de l'équipe d'Abibao, nous n'allons pas privilégier certaines associations plutôt qu'une autre, les membres le feront.</p>

          <p><strong>Un programme très ouvert</strong></p>
          <p>Toutes associations d'intérêt général peuvent prétendre à Abibao. Cela laisse la porte ouverte à beaucoup d'initiatives caritatives. La vraie sélection se fera par les membres. Nous nous réservons tout de même un droit de regard pour éviter les thèmes trop sujets à polémiques.</p>
        </div>
        <div id="Q13">
          <h3>Je représente une association et j'aimerai la proposer</h3>
          <p>Contactez-nous directement à <a href="mailto:contact@abibao.com">contact@abibao.com</a>.</p>
        </div>
        <div id="Q14">
          <h3>Quelles sont les conditions pour les associations ?</h3>
          <p>En tant qu'association, vous devez être reconnue d'intérêt général (nous vous demanderons de nous en fournir la preuve via rescrit fiscal de la part des impôts). L'autre condition est que vous acceptiez de recevoir des financements qui proviennent d'entreprises.</p>
        </div>
        <div id="Q15">
          <h3>Comment est calculée la rémunération pour les associations ?</h3>
          <p>Nous imposons aux entreprises un minimum de don pour chaque réponses à un sondage. L'entreprise à le choix d'être plus généreuse que ce minimum et dans ce cas nous vous le ferons savoir. Plus le questionnaire est diffuser auprès d'un grand nombre de personnes, plus le montant récolté est important. 100% de cette somme revient à l'association.<br/>
          La quantité d'argent récoltée par une association dépend directement du nombre de membres qui ont choisi de la soutenir.</p>
        </div>
        <h2>Les sondages</h2>
        <div id="Q16">
          <h3>D'où viennent les sondages ?</h3>
          <p>Les sondages proviennent d'entreprises qui ont besoin d'étudier leur marché dans le cadre de leur activité. De l'entreprise agroalimentaire en passant par la startup qui veut lancer un nouveau produit, les sources peuvent être très variées.</p>
        </div>
        <div id="Q17">
          <h3>Les sondages sont-ils longs ?</h3>
          <p>Nous mettons beaucoup d'énergie pour que l'expérience utilisateur soit la plus agréable possible. Les sondages les plus courts sont souvent les meilleurs et ce sont ceux-là que nous privilégions. En moyenne, cela vous prendra moins de 3min pour répondre à un sondage. Il est possible que certaines entreprises aient besoin de poser de nombreuses questions, dans ce cas le don sera plus élevée et l'estimation du temps vous sera indiqué.</p>
        </div>
        <h2>Nous aider</h2>
        <div id="Q18">
          <h3>1 - S'incrire sur Abibao</h3>
          <p>Votre premier soutiens c'est votre inscription. Plus il y aura d'inscrits sur Abibao, plus les entreprises seront intéressées pour diffuser leurs sondages et ce sera d'autant plus d'argents à disposition des associations.</p>
        </div>
        <div id="Q19">
          <h3>2 - En parler autour de vous</h3>
          <p>Rien de mieux que le bouche à oreille pour diffuser une information (surtout quand elle est bonne). Parlez d'Abibao autour de vous et incitez vos proches à s'inscrire. Au boulot, lors d'un repas, via les réseaux sociaux, n'hésitez pas à conseiller aux gens de faire leur BA avec Abibao.</p>
        </div>
        <div id="Q20">
          <h3>3 - Devenir ambassadeur</h3>
          <p>Si vous croyez fortement au bien-fondé d'Abibao et que vous souhaitez aller plus loin, vous pouvez devenir ambassadeur en <a href="ambassador.html" target="_blank">cliquant ici</a>. Nous vous fournirons des flyers, stickers et autres goodies pour vous aider à diffuser le message. Vous changerez de statut et vous serez convié à des réunions régulières avec les autres ambassadeurs pour faire avancer Abibao !</p>
        </div>
        <h2>Nous contacter</h2>
        <div id="Q21">
          <h3>Contacter Abibao</h3>
          <p>Nous serions heureux de répondre à vos questions à l'adresse <a href="mailto:contact@abibao.com">contact@abibao.com</a>.</p>
        </div>
      </div>
    </section>

    <footer>
      <div class="container" id="footer-wrapper">
        <div class="footer-col">
          <div class="footer-col-title">
            NOS PARTENAIRES
          </div>
          <img src="./assets/img/partenaires_tmp.png" alt="" />
        </div>
        <div class="footer-col">
          <div class="footer-col-title">
            CONTACT
          </div>
          <div id="footer-contact-wrapper">
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="./assets/img/icon_suivez-nous.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  Suivez-nous
                </div>
                <div class="footer-contact-wrapper-col-text">
                  <a href="https://www.facebook.com/pages/Abibao/384344205057545">Facebook Abibao</a>
                  <br><a href="https://twitter.com/abibao_com">Twitter Abibao</a>
                </div>
              </div>
            </div>
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="./assets/img/icon_contact.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  <a href="mailto:contact@abibao.com">Contactez-nous</a>
                </div>
                <div class="footer-contact-wrapper-col-text">
                  On vous répond sur contact[❤]abibao.com
                </div>
              </div>
            </div>
            <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <a href="./faq.html"><img src="./assets/img/icon_FAQ.png" alt="FAQ Abibao" /></a>
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  <a href="./faq.html">Foire aux Questions</a>
                </div>
                <div class="footer-contact-wrapper-col-text">
                  Retrouvez toutes les questions les plus posées !
                </div>
              </div>
            </div>
<!--             <div class="footer-contact-wrapper-col">
              <div class="footer-contact-wrapper-col-thumb">
                <img src="./assets/img/icon_professionnel.png" alt="" />
              </div>
              <div class="footer-contact-wrapper-col-description">
                <div class="footer-contact-wrapper-col-title">
                  Diffuser un sondage?
                </div>
                <div class="footer-contact-wrapper-col-text">
                  <a href="./pro.html">Jetez un oeil ici</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div id="mentions">
        <a href="./cgu.html" id="CGU">CGU</a> - <a href="./mentions.html" id="mentions">Mentions Légales</a> - <a href="mailto:contact@abibao.com">Contact</a> - Tous droits réservés Abibao 2016
      </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="./assets/js/jquery.carouFredSel-6.2.1-packed.js" charset="utf-8"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('a').click(function(){
              $('html, body').animate({
                  scrollTop: $( $.attr(this, 'href') ).offset().top
              }, 500);
              return false;
          });
      });
    </script>
  </body>
</html>
